
<h2>History</h2>
<button class="btn btn-primary" [useExistingCss]="true" printSectionId="printable" ngxPrint>Printing</button>
<div class="table-responsive p-5" id="printable">
  <table class="table"  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Balance</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-color" *ngFor="let operation of operations">
        <td scope="row">{{operation.id}}</td>
        <td>
          {{operation.date | date}}
        </td>
        <td>{{operation.amount}}</td>
        <td>{{operation.balance}}</td>
        <td>{{operation.type}}</td>
      </tr>
    </tbody>
  </table>
</div>
