/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
input{
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin: 0.2rem;
}
